.container {
  width: 100%;
  max-width: 940px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 620px;
  }
}

@media screen and (max-width: 683px) {
  .container {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: var(--card-width);
  }
}
