:root {
  --primary-color: #2b2d42;
  --light-color: #8d99ae;
  --superlight-color: #b4cecf;
  --extralight-color: #dae4e7;
  --pale-color: #e6edef;
  --accent-color: #ce4257;
  --card-width: 300px;
}
